.git-old/
CloudClient/bin/
CloudClient/obj/
CloudClient/.vscode/
CloudServer/bin/
CloudServer/obj/
CloudServer/.vscode/
CloudServer/cloud/
CloudServer/Log/
Test.c
names.txt
output.txt
test.txt
var.c
a.out
