.git-old/
CloudClient/bin/
CloudClient/obj/
CloudClient/.vscode/
CloudClient/config/
CloudClient/a.out
CloudClient/names.txt
CloudClient/output.txt
CloudClient/runclient.sh
CloudServer/bin/
CloudServer/obj/
CloudServer/.vscode/
CloudServer/cloud/
CloudServer/Log/
CloudServer/config/
CloudServer/test
Cloudserver/runserver.sh
Test.c
names.txt
output.txt
test.txt
var.c
a.out
token
.vscode
.gitignore
test.txt

